version: "2"
services:
  node:
    image: "node:latest"
    user: "root"
    working_dir: /home/node/app
    environment:
      - NODE_ENV=production
    volumes:
      - ./:/home/node/app
    expose:
      - "8081"
    command: "npm start"
    networks:
      - mongonet
networks:
  mongonet:
    external: true
